html {
  background-color: #4FACF7;
}

.container{
  width: 45%;
  height: 90vh;
  background: white;
  border-radius: 30px;
  margin-top: 50px;
  margin-left: 375px;
}

.image-block{
  /* width: 100px; */
  width: 30%;
  height: 20%;
  background-image: url('../src/Assets/image.svg');
  background-position: center;
  background-size: cover;
  align-items: center;
}


h1, h2, h3, h4{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.introduction-text{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

label{
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

